* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--delicateWhite);
}

:root {
  /* Roots for farver */
  --delicateWhite: #fefefe;
  --notThatBlack: #040404;
  --oliveGrey: #525148;
  --accentColor: #073F9C;

  /* Roots for fonte */
--primary: "Roboto Condensed", sans-serif;
--secondary: "Montserrat", sans-serif;
}

h1 {
  font-family: var(--primary);
  font-weight: 800;
}

h2 .bold {
  font-family: var(--primary);
  font-weight: 700;
}

h2 .thin {
font-family: var(--primary);
font-weight: 300;
}

p {
  font-family: var(--secondary);
  font-weight: 400;
  font-size: 1rem;
}
