---
import "../styles/global.css";
import "../styles/style.css";
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Card from "../components/Card.astro";
---

<Layout title="PanicHood">
  <main>
    <Header />
    <h1>hej</h1>
    <h1>hej</h1>
    <h1>hej med dig</h1>
  </main>
</Layout>

<style></style>
