---
import "../styles/global.css";
import "../styles/style.css";
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Quote from "../components/Quote.astro";
import New_season from "../components/New_season.astro";
import Footer from "../components/Footer.astro"
import Collage from "../components/Collage.astro"
import GetInspired from "../components/Get_inspired.astro";
---

<Layout title="PanicHood">
  <main>
    <Header />
    <New_season />
    <Quote />
    <Collage />
    <GetInspired />
<Footer />
  </main>
</Layout>

<style></style>
