---
import "../styles/global.css";
import "../styles/style.css";
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero_video from "../components/Hero_video.astro";
import Quote from "../components/Quote.astro";
import New_season from "../components/New_season.astro";
import Footer from "../components/Footer.astro"
import Collage from "../components/Collage.astro";
---

<Layout title="PanicHood">
  <main>
    <Header />
    <Tenoff />
    <Hero_video />
    <New_season />
    <Quote />
    <Footer />
    <Collage />
<Footer />
  </main>
</Layout>

<style></style>

<script></script>
