---
import "../styles/global.css";
import "../styles/style.css";
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Quote from "../components/Quote.astro";
import New_season from "../components/New_season.astro";
---

<Layout title="PanicHood">
  <main>
    <Header />
    <New_season />
    <Quote />
  </main>
</Layout>

<style></style>
