---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="PanicHood">
  <main>
    <h1>hej</h1>
    <h1>hej</h1>
    <h1>hej med dig</h1>
  </main>
</Layout>

<style></style>
