---
import "../styles/global.css";
import "../styles/style.css";
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Card_products from "../components/Card_products.astro";
import Collage from "../components/Collage.astro";
import Tenoff from "../components/Tenoff.astro";

interface ProductItem {
  id: number;
  name: string;
  price: number;
}

const data: ProductItem[] = await fetch("https://kcyafdrxhdqxjputqjxa.supabase.co/rest/v1/product_items", {
  method: "GET",
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtjeWFmZHJ4aGRxeGpwdXRxanhhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTY1NDgyNjgsImV4cCI6MjAzMjEyNDI2OH0.Ds4oUM3yPKNH5mMMKKLDh3QmQ1iTPuS-sqllkSvXaY4",
  },
}).then((res) => res.json());
---

<Layout title="PanicHood">
  <Header />
  <Tenoff />
  <main>
    <p><a href="">Home</a> / <a href="">Products</a></p>
    <h1>PRODUCTS</h1>
    <section class="trending_now">
      <div>
        <img src="../../img/emil_croped.webp" alt="" />
      </div>
      <div class="trending_now_text">
        <h2>TRENDING NOW</h2>
        <img src="../../illustrationer/pil_product_list.svg" alt="" />
      </div>
    </section>
    <div class="filter_produkter">
      <div class="filter">
        <img src="../../ikoner/Filter.png" alt="" />
        <p>FILTER</p>
      </div>
      <p>20 PRODUCTS</p>
    </div>
    <section class="layout_produkt">
      {data.map((product: ProductItem) => <Card_products data={product} />)}
    </section>
    <Collage />
  </main>
  <Footer />
</Layout>

<style>
  main {
    margin: 4rem;
  }

  a {
    text-decoration: none;
    color: var(--oliveGrey);
  }
  h1 {
    font-size: 4rem;
  }
  .trending_now img {
    max-width: 70%;
    height: auto;
  }

  .trending_now {
    display: flex;
    justify-content: center;
  }
  .trending_now div {
    width: 100%;
  }

  .trending_now_text {
    text-align: center;
    justify-content: center;
    justify-self: center;
  }

  .trending_now h2 {
    font-weight: 400;
    font-size: 4cqw;
    width: 100%;
    margin: 0 auto;
    padding-right: 10%;
    padding-top: 5%;
  }
  .trending_now_text img {
    position: relative;
    right: 40%;
  }

  .filter_produkter {
    display: flex;
    justify-content: space-between;
    padding-top: 4%;
    padding-bottom: 0.5%;
  }

  .filter {
    display: flex;
  }

  .filter img {
    width: 40px;
    height: 100%;
    margin-right: 10%;
  }

  .layout_produkt {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 3%;
  }

  @media (max-width: 800px) {
    main {
      margin: 0%;
      margin-left: 2%;
      margin-right: 8%;
    }
    .layout_produkt {
      grid-template-columns: 1fr 1fr;
    }
  }
</style>
