---
import "../styles/global.css";
import "../styles/style.css";
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Card_products from "../components/Card_products.astro";
---

<Layout title="PanicHood">
  <Header />
  <main>
    <p><a href="">Home</a> / <a href="">Products</a></p>
    <h1>PRODUCTS</h1>
    <section class="trending_now">
      <div>
        <img src="../../public/img/emil_croped.webp" alt="" />
      </div>
      <div class="trending_now_text">
        <h2>TRENDING NOW</h2>
        <img src="../../public/illustrationer/pil_product_list.svg" alt="" />
      </div>
    </section>
    <div class="filter_produkter">
      <div class="filter">
        <img src="../../public/ikoner/Filter.png" alt="" />
        <p>FILTER</p>
      </div>
      <p>20 PRODUCTS</p>
    </div>
    <section class="layout_produkt">
      <Card_products header="PANIC DEALER TEE" />
      <Card_products header="TPH CARD TEE" soldOut={true} />
      <Card_products header="CRISSCROSS TEE" />
      <Card_products header="STARFISH PUFF TEE " />
      <Card_products header="TPH TOTE BAG " />
      <Card_products header="PANIC DEALER TEE" />
    </section>
  </main>
  <Footer />
</Layout>

<style>
  main {
    padding: 4rem;
  }

  a {
    text-decoration: none;
    color: var(--oliveGrey);
  }
  h1 {
    font-size: 4rem;
  }
  .trending_now img {
    max-width: 70%;
    height: auto;
  }

  .trending_now {
    display: flex;
    justify-content: center;
  }
  .trending_now div {
    width: 100%;
  }

  .trending_now_text {
    text-align: center;
    justify-content: center;
    justify-self: center;
  }

  .trending_now h2 {
    font-weight: 400;
    font-size: 4cqw;
    width: 100%;
    margin: 0 auto;
    padding-right: 10%;
    padding-top: 5%;
  }
  .trending_now_text img {
    position: relative;
    right: 40%;
  }

  .filter_produkter {
    display: flex;
    justify-content: space-between;
    padding-top: 4%;
    padding-bottom: 0.5%;
  }

  .filter {
    display: flex;
  }

  .filter img {
    width: 40px;
    height: 100%;
    margin-right: 10%;
  }

  .layout_produkt {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 3%;
    gap: 6%;
    padding-right: 7%;
    padding-left: 7%;
  }
</style>

<script></script>
