---
---
<img src="public/img/collage1.webp" alt="collage">
<img src="public/img/collage2.webp" alt="collage">
<img src="public/img/collage3.webp" alt="collage">
<img src="public/img/collage4.webp" alt="collage">
<p>JOIN THE HOOD</p>
<p>SIGN UP FOR OUR NEWSLETTER AND GET 10% OFF YOUR FIRST ORDER</p>
<form>
    <label for="email">DROP YOUR E-MAIL HERE...</label>
    <input type="text" id="email" name="email">
</form>
<p>By signing up, you consent to The Panichood sending you newsletters. We never share your information with third parties. You can unsubscribe at any time via the link in our emails.</p>