---
---
<h1 class="get_inspired">GET INSPIRED</h1>
<p class="insta">Find more inspiration at our Instagram @thepanichood</p>
<div class="billede1">
    <img src="../public/img/getinspired2.webp">
    <p class="name">X</p>
    <p class="price">X</p>
</div>
<div class="billede2">
    <img src="../public/img/getinspired4.webp">
    <p class="name">X</p>
    <p class="price">X</p>
</div>