---
---
<div class="grid_1">
<h1 class="get_inspired">GET INSPIRED</h1>
<p class="tekst">Find more inspiration at our Instagram <a href="https://www.instagram.com/thepanichood" target="_blank">@thepanichood</a></p>
<div class="billede1">
    <img src="../public/img/getinspired2.webp">
    <p class="name">PANIC DEALER TEE</p>
    <p class="price">343,-</p>
</div>
<div class="billede2">
    <img src="../public/img/getinspired4.webp">
    <p class="name">HOODIE</p>
    <p class="price">400,-</p>
</div>
</div>

<style>
    .name {
        font-weight: bold;
        margin-top: 0.5rem;
    }
    .price {
        margin-bottom: 1rem;
    }
    a {
            color: #000000; /* Ændrer link farven til rød */
            text-decoration: none; /* Fjerner understregning */
        }

        a:hover {
            text-decoration: underline; /* Understreger linket når musen er over det */
        }
/* MOBIL */
@media screen and (max-width: 768px) {
    .grid_1 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        margin: 50px;
    }
    .grid_1 img {
            width: 100%; /* Gør billederne responsive */
            height: auto; /* Bevarer billedets proportioner */
            display: block; /* Fjerner mellemrum under billederne */
        }
}

/* POSITION AF BILLEDER */
.billede1 {
    width: 60%;
position: relative;
left: 40%;
top: 1%;
background-color: transparent; 
}

.billede2 {
width: 60%;
position: relative;
left: -5%;
top: 2%;
background-color: transparent; 
}

/* DESKTOP */
@media screen and (min-width: 768px) {
    .grid_1 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        margin: 50px;
    }
    .grid_1 img {
            width: 75%; /* Gør billederne responsive */
            height: auto; /* Bevarer billedets proportioner */
            display: block; /* Fjerner mellemrum under billederne */
        }
        .get_inspired{
            font-family: var(--primary);
        font-weight: 800;
        font-size: 3rem;
        }
        .get_inspired, .tekst {
position: relative;
left: 15%;
top: 80%;
background-color: transparent; 
}
    
        /* POSITION AF BILLEDER */
.billede1 {
    width: 30%;
position: relative;
left: 60%;
top: -5%;
background-color: transparent; 
}

.billede2 {
    width: 30%;
position: relative;
left: 35%;
top: -70%;
background-color: transparent; 
}
}
</style>