---

---

<header>
  <div class="top">
    <p>FREE SHIPPING ON ORDERS OVER 99€ / 740 DKK</p>
  </div>
  <div class="hoved_menu">
    <div class="logo">
      <a href="/"><img src="../../ikoner/LOGOBLACK.png" alt="logo" class="thepanichood" /></a>
    </div>
    <nav>
      <ul class="menu">
        <li><a href="/">HOME</a></li>
        <li><a href="/produkt_liste">PRODUCTS</a></li>
        <li><a href="#">CONTACT</a></li>
      </ul>
      <div class="burger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
    </nav>
    <div class="ui_elementer">
      <img src="../../ikoner/soge.png" alt="soge" />
      <img src="../../ikoner/hjerte.png" alt="hjerte" />
      <img src="../../ikoner/person.png" alt="person" />
      <img src="../../ikoner/pose.png" alt="pose" />
    </div>
  </div>
</header>

<style>
  header {
    width: 100%;
  }

  .top {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: var(--oliveGrey);
    padding: 0;
  }

  .top p {
    color: var(--delicateWhite);
    background-color: var(--oliveGrey);
    padding: 0.5%;
  }

  .logo {
    width: 200px;
  }

  .thepanichood {
    width: 200px;
  }

  .hoved_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
  }

  .ui_elementer {
    display: flex;
    gap: 20%;
    margin-right: 3.5%;
  }

  .ui_elementer img {
    height: 20px;
  }
  a {
    text-decoration: none;
    font-weight: 700;
    color: black;
  }
  .menu a:hover {
    text-decoration: underline;
  }

  nav {
    margin-right: 63px;
  }

  .menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: var(--primary);
    font-size: 1.5rem;
  }

  .menu li {
    margin-right: 20px;
    display: inline;
  }

  .menu li:last-child {
    margin-right: 0;
  }

  .menu a {
    display: block;
    padding: 2px;
    text-decoration: none;
    transition: color 0.3s;
  }

  .burger {
    width: 30px;
    height: 20px;
    cursor: pointer;
  }

  .burger .line {
    width: 100%;
    height: 2px;
    background-color: black;
    margin-bottom: 5px;
    transition: 0.2s linear;
  }

  .burger {
    display: none;
  }

  @media screen and (max-width: 800px) {
    .menu {
      display: none;
    }
    .burger {
      display: block;
    }
    .burger.active .line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px);
      transition: 0.2s linear;
    }

    .burger.active .line:nth-child(2) {
      opacity: 0;
      transition: 0.15s linear;
    }

    .burger.active .line:nth-child(3) {
      transform: rotate(-45deg) translate(5px, -5px);
      transition: 0.2s linear;
    }

    nav.active .menu {
      display: block;
      position: absolute;
      z-index: 1;
      top: 100px;
      left: 0;
      width: 40%;
      background-color: var(--delicateWhite);
    }

    a {
      margin-left: 5%;
    }

    nav.active .menu li {
      margin: 10px 20px;
    }

    nav.active .menu a {
      font-size: 1rem;
    }

    .logo {
      order: 2; /* Ændrer rækkefølgen af logoet */
    }

    nav {
      order: 1; /* Ændrer rækkefølgen af navigationen */
      margin-right: 0; /* Tilføjet for at fjerne margen, som blev tilføjet tidligere */
    }

    .ui_elementer {
      order: 3; /* Beholder UI-elementerne i samme rækkefølge */
      margin-top: 10px; /* Tilføj lidt mellemrum øverst */
    }
  }
</style>

<script>
  const burger = document.querySelector(".burger");
  const nav = document.querySelector("nav");
  const menu = document.querySelector(".menu");
  const links = document.querySelectorAll(".menu li a");

  burger.addEventListener("click", () => {
    console.log("Burger clicked");
    burger.classList.toggle("active");
    menu.classList.toggle("active");
    nav.classList.toggle("active");
  });

  links.forEach((link) => {
    link.addEventListener("click", () => {
      console.log("Link clicked");
      burger.classList.remove("active");
      menu.classList.remove("active");
      nav.classList.remove("active");
    });
  });
</script>
