---

---

<div class="container">
  <div class="knap">
    <button><a href="https://thepanichood.com/collections/frontpage">EXPLORE PRODUCTS</a></button>
  </div>
  <video class="hero_video" width="1512" height="1080" autoplay loop muted playsinline>
    <source src="https://www.projectjohansson.dk/kea/thepanichood/video/HeroVideoDesktop.mp4" type="video/mp4" />
  </video>
  <video class="hero_video_mobil" width="756" height="1344" autoplay loop muted playsinline>
    <source src="https://www.projectjohansson.dk/kea/thepanichood/video/HeroVideoMobil.mp4" type="video/mp4" />
  </video>
</div>
<style>
  .container {
    position: relative;
    width: 100%;
    height: auto;
  }

  .hero_video {
    width: 100%;
    height: auto;
  }

  .hero_video_mobil {
    display: none;
  }

  .knap {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centrerer elementet */
    background-color: transparent;
  }

  button {
    padding: 5%;
    width: 125%;
    background-color: var(--accentColor);
    border-color: var(--notThatBlack);
    border: thin;
    cursor: pointer;
    font-family: var(--primary);
    color: var(--delicateWhite);
    font-size: 1.5cqw;
  }

  .container a {
    text-decoration: none;
    background-color: transparent;
    color: var(--delicateWhite);
  }

  .container a:hover {
    text-decoration: underline;
  }

  @media screen and (max-width: 800px) {
    .hero_video {
      display: none;
    }

    .hero_video_mobil {
      display: inline;
      width: 100%;
      height: 100%;
    }

    .knap {
      top: 40%;
    }

    button {
      padding: 5%;
      width: 125%;
      background-color: var(--accentColor);
      border-color: var(--notThatBlack);
      border: thin;
      cursor: pointer;
      font-family: var(--primary);
      color: var(--delicateWhite);
      font-size: 4cqw;
    }
  }
</style>
