---
import Card_products from "../components/Card_products.astro";

interface ProductItem {
  id: number;
  name: string;
  price: number;
}

const data = await fetch("https://kcyafdrxhdqxjputqjxa.supabase.co/rest/v1/product_items?soldout=is.null&sale=is.null", {
  method: "GET",
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtjeWFmZHJ4aGRxeGpwdXRxanhhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTY1NDgyNjgsImV4cCI6MjAzMjEyNDI2OH0.Ds4oUM3yPKNH5mMMKKLDh3QmQ1iTPuS-sqllkSvXaY4",
  },
}).then((res) => res.json());

console.log(data);
---

<section>
  <div class="new_season">
    <h2>NEW SEASON</h2>
    <div class="expolre">
      <p>Explore our lastest arrivals</p>
      <img src="../../ikoner/pil_forside.svg" alt="pil_forside" class="pil_forside" />
    </div>
  </div>

  <div class="explore_n_carousel">
    <div class="container">
      <div class="carousel-view">
        <div id="item-list" class="item-list">
          {data.map((product: ProductItem) => <Card_products data={product} />)}
        </div>
        <button id="next-btn" class="next-btn"> <img src="../../ikoner/pil.png" alt="pil" /> </button>
      </div>
    </div>
  </div>
</section>

<style>
  section {
    padding-top: 2%;
    padding-bottom: 5%;
  }
  .pil_forside {
    width: 30vw;
    position: absolute;
    left: 9%;
    z-index: 1;
    padding-top: 1%;
  }
  .new_season {
    padding-left: 4%;
    position: relative;
  }

  .expolre {
    display: flex;
  }

  img {
    width: 80%;
    background-color: transparent;
  }

  .explore_n_carousel {
    display: flex;
  }

  p {
    width: 50%;
    height: 20%;
    font-size: 2.3cqw;
  }

  button {
    border: none;
    cursor: pointer;
    color: var(--delicateWhite);
    background: none;
    transition: all 0.3s ease-in-out;
  }

  .container {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 0%;
  }

  .carousel-view {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    transition: all 0.25s ease-in;
  }
  /* med hjælp fra chatgpt */
  .carousel-view .item-list {
    max-width: 1105px;
    width: 75vw;
    padding: 85px 10px;
    display: flex;
    gap: 40px;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    overflow: auto;
    scroll-snap-type: x mandatory;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .item-list::-webkit-scrollbar {
    display: none;
  }
  .next-btn {
    cursor: pointer;
    position: absolute;
    right: 2.5%;
    z-index: 1;
  }

  .item {
    min-width: 325px;
    height: 400px;
  }

  @media screen and (max-width: 800px) {
    .pil_forside {
      width: 40vw;
      left: 13%;
      padding-top: 4%;
    }

    h2 {
      font-family: var(--primary);
      font-size: 2.5rem;
    }

    p {
      font-family: var(--secondary);
      font-size: 3.3cqw;
    }
    .next-btn {
      display: none;
    }

    .container {
      padding-right: 0%;
    }

    .item {
      min-width: 300px;
      height: 375px;
    }

    .carousel-view .item-list {
      max-width: 1105px;
      width: 72vw;
      gap: 20px;
    }
  }

  @media screen and (max-width: 675px) {
    .carousel-view .item-list {
      padding: 65px 10px;
    }
  }
</style>

<script>
  //med hjælp fra chatgpt //
  const next = document.getElementById("next-btn");
  const list = document.getElementById("item-list");

  const itemWidth = 150;
  const padding = 10;

  if (next && list) {
    next.addEventListener("click", () => {
      list.scrollLeft += itemWidth + padding;
    });
  }
</script>
