---

---

<div class="qoute_sektion">
  <img src="../../public/tekst_stor_ring.png" alt="tekst_stor_ring" class="tekst_stor_ring" />
  <p class="quote">OUR DREAM IS TO CREATE AN INCLUSIVE COMMUNITY OF PEOPLE SHARING THE PASSION FOR PERSONAL EXPRESSION AND STYLE</p>
</div>

<style>
  img {
    background-color: transparent;
  }
  .qoute_sektion {
    width: 100%;
  }
  .quote {
    font-family: var(--tertiary);
    font-size: 4.6rem;
    padding-left: 4%;
    padding-right: 4%;
  }

  .tekst_stor_ring {
    position: relative;
    top: 250px;
    left: 40px;
  }
</style>
