---

---

<div class="qoute_sektion">
  <img src="../../ikoner/tekst_stor_ring.png" alt="tekst_stor_ring" class="tekst_stor_ring" />
  <p class="quote">OUR DREAM IS TO CREATE AN INCLUSIVE COMMUNITY OF PEOPLE SHARING THE PASSION FOR PERSONAL EXPRESSION AND STYLE</p>
  <div class="forfatter">
    <p>- your panic dealer</p>
  </div>
</div>

<style>
  img {
    background-color: transparent;
    width: 30vw;
  }
  .qoute_sektion {
    width: 100%;
    padding-bottom: 5%;
    padding-left: 4%;
    padding-right: 4%;
  }
  .quote {
    font-family: var(--tertiary);
    font-size: 4.8cqw;
  }
  .tekst_stor_ring {
    position: absolute;
    left: 2.1%;
    padding-top: 5%;
  }

  .forfatter {
    display: flex;
    justify-content: end;
  }

  @media screen and (max-width: 800px) {
    .quote {
      font-size: 7.5cqw;
    }

    .tekst_stor_ring {
      position: absolute;
      left: 53%;
      padding-top: 9.5%;
    }

    img {
      width: 45vw;
    }
  }
</style>
