---

---

<div class="gem" id="tenoff">
  <button><a href="https://thepanichood.com/collections/frontpage">Get 10% off</a><div class="x">X</div></button>
</div>

<style>
  .gem {
    display: none;
  }
  #tenoff {
    position: fixed;
    z-index: 1000;
    right: 2%;
    bottom: 5%;
  }

  #tenoff a {
    text-decoration: none;
    background-color: transparent;
    color: var(--delicateWhite);
    width: 5.5em;
  }

  .x {
    font-family: var(--secondary);
    background-color: var(--accentColor);
    color: var(--delicateWhite);
    font-size: 1.8cqw;
  }
  button {
    background-color: var(--accentColor);
    border-color: var(--notThatBlack);
    border: thin;
    cursor: pointer;
    font-family: var(--secondary);
    color: var(--delicateWhite);
    font-size: 1.5cqw;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-left: 5%;
    padding-right: 6%;
    padding-top: 3%;
    padding-bottom: 3%;
  }

  @media screen and (max-width: 800px) {
    .x {
      font-size: 2.8cqw;
    }
    button {
      font-size: 2.5cqw;
    }
    #tenoff {
      right: 3%;
    }
  }
</style>

<script>
  window.addEventListener("load", sidenVises);

  function sidenVises() {
    const tenOffElement = document.querySelector("#tenoff");
    const xElement = document.querySelector(".x");

    if (tenOffElement) {
      tenOffElement.classList.remove("gem");
    }

    if (xElement) {
      xElement.addEventListener("click", gem);
    }
  }

  function gem() {
    const tenOffElement = document.querySelector("#tenoff");

    if (tenOffElement) {
      tenOffElement.classList.add("gem");
    }
  }
</script>
