---
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" /><link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap" rel="stylesheet" />
    <meta name="generator" content={Astro.generator} /> 
    <link rel="icon" href="/ikoner/tphlogo.png" type="image/x-icon">
    <!-- Alternativt kan du bruge .png eller .svg -->
    <!-- <link rel="icon" href="/favicon.png" type="image/png"> -->
    <!-- <link rel="icon" href="/favicon.svg" type="image/svg+xml"> -->
    <!-- Flere favicon tags for forskellige størrelser og formater -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="/ikone/tphlogo.png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="/ikone/tphlogo.png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style></style>
